:root {
    --primary-color: #F5CB5C;
    --secondary-color: #E8EDDF;
    --accent-color: #242423 ;
    --accent-color2: #CFDBD5;
    --font-heading: "Bebas Neue", sans-serif;
    --font-body: "Gidole", sans-serif;
}

h1 {
    font-family: var(--font-heading);
}

h2 {
    font-family: var(--font-heading);
    color: var(--primary-color);

}

section {
    display: block;
    visibility: visible;
    background-color: var(--secondary-color);
    padding: 2rem;
    
}

section {
    position: relative;
    overflow: visible;
    max-width: 100%;
}


p {
    font-family: var(--font-body);
}


.sociallinks a {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100%;
    height: 400px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    top: 50%;
    right: auto;
    background-color: var(--accent-color);
    color: white;
    padding: 10px;
    margin: 70px;
}

.hero article img {
    float: right;
    margin-left: 15px;
    width: 15rem;
    margin-bottom: auto;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}


