* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background-color: rgb(224, 224, 224);
}

header{
    margin: 0 auto;
    width: 750px;
}

h1 {
    margin: 1rem;
    color: navy;
    font-size: 1.5em;
    text-align: center;
}

form {
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.6rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    color: navy;
    padding: 0.5rem;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;;
}

input, select, textarea {
    padding: 0.5rem; 
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    width: 8rem;
    height: 3rem;
    font-size: 1.2rem;
    background-color: navy;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
}

button:hover {
    background-color: darkgreen;
}

footer {

    text-align: center;
    color: #777;
    padding: 1.5rem;
    border-top: 1px solid #ccc;
    margin: 1.5rem auto 0;
    font-size: 0.8em;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: .5rem 0;
}



